/* .list-item-container {
    display: flex;
}

.item-title {
    flex-grow: 1;
    font-size: 1.6em;
    margin: 0.3em;
} */

.list-item-container {
    margin: .3em;
    padding: .4em;
}



.list-item {
    background-color: white;
    margin-bottom: 0.5em;
    display: flex;
}

.list-item-text {
    flex-grow: 1;
}

.list-item-options {

}

.done {
    background-color: greenyellow;
}