.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 255);
}

.app-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    flex-shrink: 0;
}

.content {
    padding: 0.4em;
    flex-grow: 1;
    overflow: auto;
}

.bottom {
    flex-shrink: 0;
}