.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: seashell;
}

.top {
    
}

.content {
    margin: 0.4em;
    flex-grow: 1;
}

.bottom {

}