<h1>Hello {{user.Name}}</h1>
<button (click)="addList()">Add List</button>
<select [(ngModel)]="selectedList" (change)="selectedListChanged()">
    <option *ngFor="let list of lists" [ngValue]="list">{{list.Name}}</option>
</select>
<hr />
<input [(ngModel)]="editingText">
<button (click)="doneEdit()">Done</button>
<hr />
<h1 (click)="editList(selectedList)">{{selectedList.Name}}</h1>
<button (click)="removeList()">Remove List</button>
<ul>
    <li *ngFor="let listItem of listItems">
        <div (click)="editListItem(listItem)">{{listItem.Name}}</div>
        <button (click)="deleteListItem(listItem)">Remove List Item</button>
    </li>
</ul>
<button (click)="addListItem()">Add List Item</button>