/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

html, body {
    height: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

.mat-list-item-content {
    width: 100%;
}